---
layout: header
---


<div class="container-fluid">


  <div class="row-fluid">



         <!--##################-->
        <!-- content -->
        <!-- ##################-->
        <div class="col-md-9"> {{ content }} </div>

         <!--##################-->
        <!-- Side -->
        <!-- ##################-->
        <div class="col-md-3">
            <br>
            <br>
            <!--<img src="/assets/images/anahid_full.jpg" alt="profile picture" class="resize" align="middle"/>-->
            <h2 class="name">Anahid <br>
            Bauer</h2>
            <!--<h3 class="tagline">Assistant Professor</h3>-->
            <h4 class="tagline"><a class="a1" href="https://www.imt-bs.eu/en/" target="_blank">Institut Mines-Telecom Business School</a></h4>

            <ul class="list-unstyled">
		<li class="email"><i class="fa fa-envelope"></i><a href="mailto:anahid_bauer@imt-bs.eu"> anahid_bauer (at) imt-bs.eu </a></li>
		
		    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:abauer11@illinois.edu"> abauer11 (at) illinois.edu</a></li>

                <li class="email"><i class="fa fa-envelope"></i><a href="mailto:anibauer@gmail.com"> anibauer (at) gmail.com</a></li>

                <li class="github"><i class="fa fa-github"></i><a class="a1" href="http://github.com/anahid-bauer" target="_blank"> anahid-bauer</a></li>

                 <li class="twitter"><i class="fa fa-twitter"></i><a class="a1" href="https://twitter.com/@AnahidBauer" target="_blank"> AnahidBauer</a></li>
            </ul>
          </div>
</div>
</div>
